Repository tangzixuan/AFFiNE, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, test, mod:dev, mod:plugin, plugin:copilot, mod:infra, mod:sdk, mod:plugin-cli, mod:workspace, mod:i18n, mod:env, mod:hooks, mod:component, mod:storage, mod:native, mod:store, rust, package:y-indexeddb, app:core, app:electron, app:server

fix(core): update background of sign-in button and input
  packages/frontend/core/src/components/sign-in/sign-in.tsx
  packages/frontend/core/src/components/sign-in/style.css.ts
Labels: app:core

[WIP] feat(android): AI chat basement
  packages/frontend/apps/android/App/app/build.gradle
  packages/frontend/apps/android/App/app/src/main/AndroidManifest.xml
  packages/frontend/apps/android/App/app/src/main/java/app/affine/pro/MainActivity.kt
  packages/frontend/apps/android/App/app/src/main/java/app/affine/pro/chat/ChatActivity.kt
  packages/frontend/apps/android/App/app/src/main/java/app/affine/pro/components/AffineAppBar.kt
  packages/frontend/apps/android/App/app/src/main/java/app/affine/pro/theme/Color.kt
  packages/frontend/apps/android/App/app/src/main/java/app/affine/pro/theme/Theme.kt
  packages/frontend/apps/android/App/app/src/main/java/app/affine/pro/theme/Typography.kt
  packages/frontend/apps/android/App/build.gradle
  packages/frontend/apps/android/App/buildscripts/toml-updater-config.gradle
  packages/frontend/apps/android/App/gradle/libs.versions.toml
  packages/frontend/apps/android/App/variables.gradle
Labels: none

[WIP] feat(android): chat ui components
  packages/frontend/apps/android/App/app/src/main/AndroidManifest.xml
  packages/frontend/apps/android/App/app/src/main/java/app/affine/pro/MainActivity.kt
  packages/frontend/apps/android/App/app/src/main/java/app/affine/pro/ai/AIActivity.kt
  packages/frontend/apps/android/App/app/src/main/java/app/affine/pro/ai/chat/Chat.kt
  packages/frontend/apps/android/App/app/src/main/java/app/affine/pro/ai/chat/UserInput.kt
  packages/frontend/apps/android/App/app/src/main/java/app/affine/pro/chat/ChatActivity.kt
  packages/frontend/apps/android/App/app/src/main/java/app/affine/pro/components/AffineAppBar.kt
  packages/frontend/apps/android/App/app/src/main/java/app/affine/pro/theme/Color.kt
  packages/frontend/apps/android/App/app/src/main/java/app/affine/pro/theme/Theme.kt
  packages/frontend/apps/android/App/app/src/main/res/values/styles.xml
Labels: none

feat(android): finish title and input widget
  packages/frontend/apps/android/App/app/src/main/java/app/affine/pro/ai/AIActivity.kt
  packages/frontend/apps/android/App/app/src/main/java/app/affine/pro/ai/chat/Chat.kt
  packages/frontend/apps/android/App/app/src/main/java/app/affine/pro/ai/chat/UserInput.kt
  packages/frontend/apps/android/App/app/src/main/java/app/affine/pro/components/AffineAppBar.kt
Labels: none

feat(android): integrate architecture component
  packages/frontend/apps/android/App/app/build.gradle
  packages/frontend/apps/android/App/app/src/main/AndroidManifest.xml
  packages/frontend/apps/android/App/app/src/main/java/app/affine/pro/AffineApp.kt
  packages/frontend/apps/android/App/app/src/main/java/app/affine/pro/MainActivity.kt
  packages/frontend/apps/android/App/app/src/main/java/app/affine/pro/ai/AIActivity.kt
  packages/frontend/apps/android/App/app/src/main/java/app/affine/pro/ai/chat/ChatViewModel.kt
  packages/frontend/apps/android/App/app/src/main/java/app/affine/pro/repo/NetworkRepo.kt
  packages/frontend/apps/android/App/app/src/main/java/app/affine/pro/repo/WebRepo.kt
  packages/frontend/apps/android/App/app/src/main/java/app/affine/pro/service/AffineClient.kt
  packages/frontend/apps/android/App/build.gradle
  packages/frontend/apps/android/App/gradle.properties
  packages/frontend/apps/android/App/gradle/libs.versions.toml
  packages/frontend/apps/android/App/service/src/main/graphql/affine/CreateCopilotSession.graphql
  packages/frontend/apps/android/App/service/src/main/graphql/affine/copilot.graphql
  packages/frontend/apps/android/App/variables.gradle
Labels: none

feat(android): update graphql repo for ai chat
  packages/frontend/apps/android/App/app/src/main/java/app/affine/pro/ai/AIActivity.kt
  packages/frontend/apps/android/App/app/src/main/java/app/affine/pro/ai/Constants.kt
  packages/frontend/apps/android/App/app/src/main/java/app/affine/pro/repo/NetworkRepo.kt
  packages/frontend/apps/android/App/app/src/main/java/app/affine/pro/service/AffineClient.kt
  packages/frontend/apps/android/App/service/build.gradle
  packages/frontend/apps/android/App/service/src/main/graphql/affine/copilot.graphql
  packages/frontend/apps/android/App/service/src/main/graphql/affine/schema.graphqls
Labels: none

feat(android): add ai chat related apis
  packages/frontend/apps/android/App/app/build.gradle
  packages/frontend/apps/android/App/app/src/main/java/app/affine/pro/ai/AIActivity.kt
  packages/frontend/apps/android/App/app/src/main/java/app/affine/pro/ai/chat/ChatAppBar.kt
  packages/frontend/apps/android/App/app/src/main/java/app/affine/pro/ai/chat/ChatViewModel.kt
  packages/frontend/apps/android/App/app/src/main/java/app/affine/pro/repo/GraphQLRepo.kt
  packages/frontend/apps/android/App/app/src/main/java/app/affine/pro/repo/SSERepo.kt
  packages/frontend/apps/android/App/app/src/main/java/app/affine/pro/service/AffineClient.kt
  packages/frontend/apps/android/App/app/src/main/java/app/affine/pro/service/GraphQLClient.kt
  packages/frontend/apps/android/App/app/src/main/java/app/affine/pro/service/OkHttp.kt
  packages/frontend/apps/android/App/gradle/libs.versions.toml
  packages/frontend/apps/android/App/service/build.gradle
Labels: none

feat(core): ai thinking
  packages/frontend/core/package.json
  packages/frontend/core/src/blocksuite/ai/_common/generating.riv
  packages/frontend/core/src/blocksuite/ai/_common/icons.ts
  packages/frontend/core/src/blocksuite/ai/_common/image-generation.riv
  packages/frontend/core/src/blocksuite/ai/_common/mindmap-generation.riv
  packages/frontend/core/src/blocksuite/ai/_common/presentation-generation.riv
  packages/frontend/core/src/blocksuite/ai/_common/thinking.riv
  packages/frontend/core/src/blocksuite/ai/chat-panel/actions/image.ts
  packages/frontend/core/src/blocksuite/ai/chat-panel/ai-generating.ts
  packages/frontend/core/src/blocksuite/ai/chat-panel/ai-loading.ts
  packages/frontend/core/src/blocksuite/ai/chat-panel/ai-thinking.ts
  packages/frontend/core/src/blocksuite/ai/chat-panel/chat-panel-messages.ts
  packages/frontend/core/src/blocksuite/ai/chat-panel/message/action.ts
  packages/frontend/core/src/blocksuite/ai/chat-panel/message/assistant.ts
  packages/frontend/core/src/blocksuite/ai/chat-panel/message/user.ts
  packages/frontend/core/src/blocksuite/ai/components/rive-player.ts
  packages/frontend/core/src/blocksuite/ai/effects.ts
  packages/frontend/core/src/types.d.ts
  packages/frontend/core/tsconfig.json
  tools/cli/src/webpack/index.ts
  yarn.lock
Labels: mod:dev, app:core

feat(android): chat history
  packages/frontend/apps/android/App/app/build.gradle
  packages/frontend/apps/android/App/app/src/main/java/app/affine/pro/ai/AIActivity.kt
  packages/frontend/apps/android/App/app/src/main/java/app/affine/pro/ai/chat/ChatUiState.kt
  packages/frontend/apps/android/App/app/src/main/java/app/affine/pro/ai/chat/ChatViewModel.kt
  packages/frontend/apps/android/App/app/src/main/java/app/affine/pro/ai/chat/ui/ChatAppBar.kt
  packages/frontend/apps/android/App/app/src/main/java/app/affine/pro/ai/chat/ui/Message.kt
  packages/frontend/apps/android/App/app/src/main/java/app/affine/pro/ai/chat/ui/UserInput.kt
  packages/frontend/apps/android/App/gradle/libs.versions.toml
  packages/frontend/apps/android/App/service/build.gradle
Labels: none

test: add gfx test
  blocksuite/framework/std/src/__tests__/editor-host.unit.spec.ts
  blocksuite/framework/std/src/__tests__/gfx/__screenshots__/surface.unit.spec.ts/surface-basic-created-slot-should-be-called-1.png
  blocksuite/framework/std/src/__tests__/gfx/__screenshots__/surface.unit.spec.ts/surface-basic-delete-observer-should-be-called-1.png
  blocksuite/framework/std/src/__tests__/gfx/__screenshots__/surface.unit.spec.ts/surface-basic-update-slot-should-be-called-1.png
  blocksuite/framework/std/src/__tests__/gfx/surface.unit.spec.ts
  blocksuite/framework/std/src/__tests__/test-gfx-element.ts
  blocksuite/framework/std/src/__tests__/test-schema.ts
Labels: test

chore: move some basic integration-test to std
  blocksuite/framework/std/src/__tests__/gfx/__screenshots__/surface.unit.spec.ts/convert-decorator-convert-decorator-1.png
  blocksuite/framework/std/src/__tests__/gfx/__screenshots__/surface.unit.spec.ts/derive-decorator-derived-decorator-should-work-correctly-1.png
  blocksuite/framework/std/src/__tests__/gfx/__screenshots__/surface.unit.spec.ts/stash-pop-stash-and-pop-should-work-correctly-1.png
  blocksuite/framework/std/src/__tests__/gfx/__screenshots__/surface.unit.spec.ts/stash-pop-stashed-property-should-also-trigger-derive-decorator-1.png
  blocksuite/framework/std/src/__tests__/gfx/surface.unit.spec.ts
  blocksuite/framework/std/src/__tests__/test-gfx-element.ts
  blocksuite/integration-test/src/__tests__/edgeless/surface-model.spec.ts
Labels: test

chore: update code gen
  packages/frontend/apps/ios/App/App.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  packages/frontend/apps/ios/App/App.xcworkspace/xcshareddata/swiftpm/Package.resolved
  packages/frontend/apps/ios/App/Packages/AffineGraphQL/Sources/Operations/Mutations/RetryAudioTranscriptionMutation.graphql.swift
  packages/frontend/apps/ios/App/Packages/AffineGraphQL/Sources/Operations/Mutations/SendTestEmailMutation.graphql.swift
  packages/frontend/apps/ios/App/Podfile.lock
  packages/frontend/apps/ios/codegen.ts
Labels: none

feat: done create new doc
  packages/frontend/apps/ios/App/App/AffineViewController+AIButton.swift
  packages/frontend/apps/ios/App/App/AffineViewController.swift
  packages/frontend/apps/ios/App/App/AppDelegate.swift
  packages/frontend/apps/ios/App/App/ApplicationBridgedWindowScript.swift
  packages/frontend/apps/ios/App/Packages/Intelligents/Sources/Intelligents/Backend/Constant/Delegates.swift
  packages/frontend/apps/ios/App/Packages/Intelligents/Sources/Intelligents/Interface/IntelligentsEphemeralActionController/IntelligentsEphemeralActionController.swift
Labels: none

feat(editor): replace flat layout cache with tree in turbo renderer
  blocksuite/affine/gfx/turbo-renderer/src/renderer-utils.ts
  blocksuite/affine/gfx/turbo-renderer/src/turbo-renderer.ts
  blocksuite/affine/gfx/turbo-renderer/src/types.ts
Labels: none

fix(electron): cannot restart recording the same app again
  packages/frontend/apps/electron/src/main/recording/state-machine.ts
Labels: none

feat(editor): change note cursor to crosshair
  blocksuite/affine/blocks/block-root/src/edgeless/utils/query.ts
Labels: none

chore: switch to oxnode
  .github/deployment/node/Dockerfile
  .github/deployment/self-host/compose.yaml
  .github/workflows/build-test.yml
  packages/backend/server/package.json
  packages/backend/server/src/__tests__/cache.spec.ts
  packages/backend/server/src/base/mutex/mutex.ts
  tools/cli/bin/runner.js
  tools/cli/hooks.js
  tools/cli/package.json
  tools/cli/register.js
  tools/cli/src/run.ts
  yarn.lock
Labels: test, mod:dev, app:server

New Crowdin translations by GitHub Action
  packages/frontend/i18n/src/resources/ar.json
  packages/frontend/i18n/src/resources/de.json
  packages/frontend/i18n/src/resources/el-GR.json
  packages/frontend/i18n/src/resources/es.json
  packages/frontend/i18n/src/resources/fa.json
  packages/frontend/i18n/src/resources/fr.json
  packages/frontend/i18n/src/resources/it-IT.json
  packages/frontend/i18n/src/resources/ja.json
  packages/frontend/i18n/src/resources/pl.json
  packages/frontend/i18n/src/resources/pt-BR.json
  packages/frontend/i18n/src/resources/ru.json
  packages/frontend/i18n/src/resources/sv-SE.json
  packages/frontend/i18n/src/resources/uk.json
  packages/frontend/i18n/src/resources/zh-Hans.json
  packages/frontend/i18n/src/resources/zh-Hant.json
Labels: mod:i18n

feat: enable large refs
  packages/backend/native/Cargo.toml
Labels: rust

fix(editor): disable mention node select
  blocksuite/affine/inlines/mention/src/affine-mention.ts
Labels: none

fix(editor): incorrect brush bound with rotation and line width
  blocksuite/affine/model/src/elements/brush/brush.ts
Labels: none

test(editor): add test for rotating and resizing a brush
  tests/blocksuite/e2e/edgeless/brush.spec.ts
Labels: test

fix(editor): make url color reactive in bookmark
  blocksuite/affine/blocks/bookmark/src/components/bookmark-card.ts
  blocksuite/affine/blocks/bookmark/src/styles.ts
Labels: none

test(editor): fix flaky embed iframe e2e test
  tests/affine-local/e2e/blocksuite/embed/embed-iframe.spec.ts
Labels: test

fix(editor): image icon color
  blocksuite/affine/components/src/icons/text.ts
  blocksuite/affine/gfx/note/src/toolbar/note-menu.ts
Labels: none

feat: add view test
  blocksuite/framework/std/src/__tests__/gfx/__screenshots__/view.unit.spec.ts/gfx-element-view-basic-local-element-view-should-be-created-1.png
  blocksuite/framework/std/src/__tests__/gfx/__screenshots__/view.unit.spec.ts/gfx-element-view-basic-query-gfx-block-view-should-work-1.png
  blocksuite/framework/std/src/__tests__/gfx/__screenshots__/view.unit.spec.ts/gfx-element-view-basic-view-should-be-created-1.png
  blocksuite/framework/std/src/__tests__/gfx/__screenshots__/view.unit.spec.ts/gfx-element-view-basic-view-should-be-removed-1.png
  blocksuite/framework/std/src/__tests__/gfx/view.unit.spec.ts
  blocksuite/framework/std/src/__tests__/test-block.ts
  blocksuite/framework/std/src/__tests__/test-gfx-element.ts
  blocksuite/framework/std/src/__tests__/test-schema.ts
  blocksuite/framework/std/src/__tests__/test-spec.ts
Labels: test

fix(editor): text overflow in journal card
  blocksuite/affine/blocks/embed/src/embed-linked-doc-block/styles.ts
Labels: none

fix: test
  blocksuite/framework/std/src/__tests__/test-schema.ts
Labels: test

feat(editor): adjust url input ui (#11535)
  blocksuite/affine/inlines/link/src/link-node/link-popup/styles.ts
Labels: none

fix(editor): allow copy in readonly mode
  blocksuite/framework/std/src/inline/range/range-binding.ts
Labels: none

feat(electron): meeting recording permissions checks
  packages/frontend/apps/electron/resources/icons/tray-icon.png
  packages/frontend/apps/electron/src/main/recording/feature.ts
  packages/frontend/apps/electron/src/main/recording/index.ts
  packages/frontend/apps/electron/src/main/tray/index.ts
  packages/frontend/core/src/desktop/dialogs/setting/general-setting/meetings/index.tsx
  packages/frontend/core/src/modules/media/services/meeting-settings.ts
  packages/frontend/i18n/src/i18n.gen.ts
  packages/frontend/i18n/src/resources/en.json
Labels: mod:i18n, app:core

fix(electron): use another origin for popup to disable zoom in/out issue of the popup window
  packages/frontend/apps/electron/src/main/constants.ts
  packages/frontend/apps/electron/src/main/protocol.ts
Labels: none

fix(editor): prevent Tab key propagation outside editor (#11531)
  blocksuite/affine/blocks/root/src/common-specs/index.ts
  blocksuite/affine/blocks/root/src/keyboard/keymap.ts
  tests/affine-local/e2e/blocksuite/list.spec.ts
  tests/affine-local/e2e/links.spec.ts
  tests/kit/src/bs/linked-toolbar.ts
Labels: test

refactor(core): ai session create
  packages/frontend/core/src/blocksuite/ai/actions/doc-handler.ts
  packages/frontend/core/src/blocksuite/ai/actions/edgeless-handler.ts
  packages/frontend/core/src/blocksuite/ai/actions/types.ts
  packages/frontend/core/src/blocksuite/ai/chat-panel/chat-panel-messages.ts
  packages/frontend/core/src/blocksuite/ai/chat-panel/index.ts
  packages/frontend/core/src/blocksuite/ai/components/ai-chat-input/ai-chat-input.ts
  packages/frontend/core/src/blocksuite/ai/components/ai-chat-input/const.ts
  packages/frontend/core/src/blocksuite/ai/components/ai-chat-input/index.ts
  packages/frontend/core/src/blocksuite/ai/peek-view/chat-block-peek-view.ts
  packages/frontend/core/src/blocksuite/ai/provider/ai-provider.ts
  packages/frontend/core/src/blocksuite/ai/provider/request.ts
  packages/frontend/core/src/blocksuite/ai/provider/setup-provider.tsx
Labels: app:core

fix(core): unexpected style of redeem code button
  packages/frontend/core/src/desktop/dialogs/setting/general-setting/billing/style.css.ts
Labels: app:core

fix(editor): should auto close dropdown menus on toolbar
  blocksuite/affine/widgets/toolbar/src/toolbar.ts
  blocksuite/affine/widgets/toolbar/src/utils.ts
  tests/affine-local/e2e/blocksuite/toolbar.spec.ts
Labels: test

.github/labeler.yml:

docs:
  - 'docs/**/*'
  - '**/README.md'
  - 'packages/frontend/templates/**/*'

test:
  - 'tests/**/*'
  - '**/tests/**/*'
  - '**/__tests__/**/*'

mod:dev:
  - 'scripts/**/*'
  - 'tools/cli/**/*'
  - 'packages/common/debug/**/*'

mod:plugin:
  - 'packages/plugins/**/*'

plugin:copilot:
  - 'packages/plugins/copilot/**/*'

mod:infra:
  - 'packages/common/infra/**/*'

mod:sdk:
  - 'packages/common/sdk/**/*'

mod:plugin-cli:
  - 'tools/plugin-cli/**/*'

mod:workspace: 'packages/frontend/workspace/**/*'

mod:i18n: 'packages/frontend/i18n/**/*'

mod:env: 'packages/common/env/**/*'

mod:hooks: 'packages/frontend/hooks/**/*'

mod:component: 'packages/frontend/component/**/*'

mod:storage: 'packages/backend/storage/**/*'

mod:native: 'packages/frontend/native/**/*'

mod:store:
  - '**/atoms/**/*'

rust:
  - '**/*.rs'
  - '**/Cargo.toml'
  - '**/Cargo.lock'
  - '**/rust-toolchain'
  - '**/rust-toolchain.toml'
  - '**/rustfmt.toml'

package:y-indexeddb: 'packages/common/y-indexeddb/**/*'

app:core: 'packages/frontend/core/**/*'

app:electron: 'packages/frontend/electron/**/*'

app:server: 'packages/backend/server/**/*'
